{{ $experience := .Site.Data.experience }}

<section id="experience" class="green">
  <h2 class="heading">{{ $experience.title }}</h2>
  <div id="timeline">
    {{ range $index, $element := $experience.experience }}
    <div class="timeline-item clearfix">
      <div class="timeline-icon"></div>
      
      <div class="timeline-content {{ if eq (mod $index 2) 0 }} right {{ end }}">
        <span class="date">{{ $element.timeperiod }}</span>
        <h6 class="h3 my-2">{{ $element.position }}</h6>
        <h5 class="">
          <span class="badge badge-dark exp-position">{{ $element.company }}</span>
        </h5>
        {{ $website := $element.website }}
        {{ if $website }}
        <a target="_blank" href="{{ $website }}">
          <i class="fas fa-globe"></i>
          {{ $website }}
        </a>
        {{ end }}
        {{ $description := $element.description }}
        {{ $full_desc := "" }}
        {{ range $val := $description }}
          {{ $full_desc = (printf "%s %s" $full_desc $val) }}
        {{ end }}
          <p class="">{{ $full_desc }}</p>
      </div>
    </div>
    {{ end }}
  </div>

</section>